#enviar {
    color:black;
    background-color: sandybrown;
    text-shadow: blue;
}
#borrar {
    color:black;
    background-color: lightcoral;
    text-shadow: blue;
}

body{

    background-color: peachpuff;
    
}

h1{

    color: slategrey;


}

#campo{

    background-color: sandybrown;

}